.Barrasuperior{
  position: relative;
  background-color: #c59630;
  margin-left: -9px;
  width: 101%;
  height: 300px;
  text-align: center;
  line-height: 222px;
  color: #2a1d1e;
  font-size: 30px;
}
.contraportada{
  float: right;
position:relative;
height: 800px;
width: 800px;
margin-left: 18px;
border: #ccc solid;
}

.LadoA{
float: left;
height: 1200px !important;
}

.LadoA li{
  font-size: 32px;
}

.icono{
  height: 600px;
  width: 600px;
  margin-top: -159px;
}

.Reseña{
  margin-top: -415px;
    font-size: 20px;
    padding-left: 147px;;
    padding-right: 9px;
}

/* Video */
iframe{
  width: 799px;
  height: 432px;
  float: right;
  margin-right: 2px;
}

*{
    box-sizing: border-box;
    margin: auto;
}

body {
    color: #ffff;
    background-color: #2a1d1e;
    font-size: 16px;
    width: 99%;
    
}

h2{
    color: white;
    text-align: center;
 }

.contenedor {
    width: 99%;
    margin: auto;
}

li{
    margin-left:20px;
}

h3{
    color: white;
    text-align: left;
    padding-left: 15px;
 }

.titulo{
    color: #c59630;
    margin-left: 0px;
    font-size: 30px;
    margin-top: 10px;
}

.Descripcion{
  font-size: 30px;

}

 /* separacion para el menu con linea hr */
hr{
    margin: 10px 0;
}
 
 .destacado-principal {
    color: rgb(221, 97, 25);
    background-color: rgba(77, 40, 77, 0.61);
    width: 99%;
    height: 800px;
    padding: 50px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
 } 

 .destacado-principal h2{
    margin-top: 150px;
}

.destacados{
    width: 99%;
    height: 110%;
    border: 1px solid #ccc;
} 

/*Noticias*/

/* 1fr representa una fracción del espacio disponible en el contenedor de la cuadrícula (columnas y/o espacios que se usaran en grid)

gap es para el espaciado entre las columnas y filas */


/* 3 columnas  */
/* .portadas {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 27px;
  margin: -141px 0;
  background-color: none;
  padding: 15px 15px 15px;
} */

.columna {
  display: grid;
  gap: 17px;
  margin: -15px;
  padding: 131px 24px 25px;
}

.divcolumna{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin: 10px;
    padding: 15px 15px 15px;
}



.portadas .nombre-producto {
    width: 99%;
    height: 280px;
    border:none;
    margin-left: 20px;
}

.portadas .nombre-producto h2{
    margin-top: 100px;
 
}

/* DIV DE COLUMNAS */
.portadas2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 35px;
    margin: 10px 0;
    padding: 15px 15px 15px;
}

/* FOOTER */
/* .divfooter{
  margin: 0px 0px 0px;
  height: 170px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  background-color: #c59630;  
} */


/* SLIDER */
.slideshow {
  position: relative;
  overflow: hidden;
  width: 94,5vw;
  height: 108vh;
  }

  .holder {
    position: relative;
    top: 0;
    left: 0;
    width: 10000vw;
    height: 100vh;
    transition: left 1s;
  }

  .holder div {
    float: left;
    width: 100vw;
    height: 84vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 0px;
    margin: auto;
    overflow: hidden;
  }

  .steps {
    position: absolute;
    bottom: -337pxpx;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
  }

  a {
    color: white;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    z-index: 1;
  }

  .prev {
    left: 818px;
    size: 5ex;
    bottom: -337px;
  }

  .next {
    right: 817px;
    size: 5ex;
    bottom: -337px;
  }

footer{
  background-color: #c59630;
  width: 102%;
  height: 270px;
  margin-left: -18px;
  line-height: 222px;
  color: #2a1d1e;
  font-size: 30px;
  text-align: center;


}
 
/* Responsivo Tamaño movil xs320px */

@media (max-width:767px){

  .Barrasuperior{
    position: relative;
    margin-left: -9px;
    width: 1200px;
  }

  .portadas2 {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 15px;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 108vh;
  }

  .holder {
    position: relative;
    top: 0;
    left: 0;
    width: 10000vw;
    height: 100vh;
    transition: left 1s;
  }

  .holder div {
    float: left;
    width: 100vw;
    height: 84vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 0px;
    margin: auto;
    overflow: hidden;
  }

  .steps {
    position: absolute;
    bottom: -178px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
  }

  a {
    color: white;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    z-index: 1;
  }

  .prev {
    left: 818px;
    size: 5ex;
    bottom: -225px;
  }

  .next {
    right: 817px;
    size: 5ex;
    bottom: -225px;
  }

  footer{
    width: 1200px;
    height: 270px;
  }
  
  iframe{
    width: 799px;
    height: 432px;
    padding-left: 120px;
  }

 .portadas2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-left: 60px;
  }
}
